.login__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CCCCCC;
    background-color: #000000;
    outline: none;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    margin: 30px auto 0;
    padding: 0 0 13px;
    width: 100%;
}